@import 'modules/logo';
@import 'modules/form';
@import 'modules/list';
@import 'modules/checkbox';
@import 'modules/dropdown';
@import "modules/button";
@import "modules/navigation";
@import "modules/colors";

.container{
    width: 400px;
    height: 720px;
    max-width: 400px;
    max-height: 720px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 60px);
    background-color: #e7e7e7;
    font-family: 'Lato', sans-serif; 
}

.container--secondary{
    width: 400px;
    height: 720px;
    max-width: 400px;
    max-height: 720px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 60px);
    font-family: 'Lato', sans-serif;
    background-image: url("../public/assets/precious.png");
}

.coins{
    grid-row: 2 / span 2;
    font-size: 5em;
    align-self: center;
    justify-self: center;
    color: #3A0CA3;
    margin-top: -10px
}

.amount, .reason, .message{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1080px){
    .container{
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .coins{
        grid-row: 3 / span 1;
        grid-column: 2 / span 3;
        text-align: center;
        margin-top: 0;
    }

    body{
        max-width: 100vw;
    }
}