@import 'modules/logo';
@import 'modules/form';
@import 'modules/list';
@import 'modules/checkbox';
@import 'modules/dropdown';
@import "modules/button";
@import "modules/navigation";
@import "modules/colors";

*{
    font-family: 'Lato', sans-serif; 
}

.container{
    width: 400px;
    height: 720px;
    max-width: 400px;
    max-height: 720px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 60px);
    background-color: #e7e7e7;
}

.coins{
    grid-row: 2 / span 2;
    font-size: 5em;
    align-self: center;
    justify-self: center;
    color: #3A0CA3;
}

.recipient, .amount, .reason, .message{
    display: flex;
    justify-content: center;
    align-items: center;
}

.translistgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}