.logo--large {
  grid-row: 1/span 4;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo__vector--small {
  width: 15%;
  margin-top: 10px;
  margin-left: 10px;
}

.logo__vector--large {
  width: 35%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form--small {
  grid-row: 5/span 7;
}

.form--medium {
  grid-row: 5/span 8;
}

.form--large {
  grid-row: 3/span 9;
}

.form::placeholder {
  opacity: 1;
  color: var(--color--primary);
}

.form__input {
  width: 80%;
  height: 50px;
  border: none;
  background-color: var(--color--background);
  color: var(--color--primary);
  text-align: center;
  font-size: 25px;
}

.form__input__number {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.form__textarea {
  box-sizing: border-box;
  color: var(--color--primary);
  background-color: var(--color--background);
  border: none;
  resize: none;
  text-align: center;
  font-size: 25px;
  width: 80%;
  height: 145px;
  padding-bottom: 0;
  cursor: pointer;
}

.list {
  background-color: var(--color--background);
  height: 105%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.list--standard {
  grid-row: 6/span 6;
}

.list--large {
  grid-row: 3/span 9;
}

.list__item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--color--primary);
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  justify-content: space-between;
}

.list__hr {
  width: 90%;
  border-width: 2px;
  color: var(--color--primary);
  border-color: var(--color--primary);
}

.list__item--amount {
  width: 20%;
}

.list__item--amount--sent {
  width: 20%;
  color: var(--color--secondary);
}

.list__item--from-to {
  width: 30%;
}

.list__item--date {
  width: 35%;
}

.list__item--message {
  color: var(--color--secondary);
  width: 15%;
  padding-left: 5%;
}

* {
  font-family: "Lato", sans-serif;
}

.custom-checkbox {
  width: fit-content;
  align-self: center;
  margin-left: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox__input {
  -webkit-appearance: none;
  appearance: none;
  background: url("../assets/check-circle-solid.svg");
  background-position: center;
  margin-left: -40px;
  background-size: contain;
  width: 32px;
  height: 32px;
  filter: grayscale(1);
  transition: all 0.6s;
  cursor: pointer;
}

.custom-checkbox__input:checked {
  filter: grayscale(0);
  transform: rotate(360deg);
}

.custom-checkbox__label {
  margin-left: 10px;
  text-align: center;
}

.custom-dropdown {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #8478F5;
  color: white;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-dropdown__container {
  width: 80%;
  position: relative;
}

.custom-dropdown__arrow {
  position: absolute;
  width: 20%;
  height: 100%;
  display: block;
  background: url("../assets/chevron-down-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  top: 0;
  right: 0;
  pointer-events: none;
}

.custom-dropdown * {
  background-color: #b0a7ff;
  color: #3A0CA3;
}

:root {
  --color--primary: #e7e7e7;
  --color--secondary: #FF7446;
  --color--background: #8478F5;
}

* {
  font-family: "Lato", sans-serif;
}

.container {
  width: 400px;
  height: 720px;
  max-width: 400px;
  max-height: 720px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(12, 60px);
  background-color: #e7e7e7;
}

.coins {
  grid-row: 2/span 2;
  font-size: 5em;
  align-self: center;
  justify-self: center;
  color: #3A0CA3;
}

.recipient, .amount, .reason, .message {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=app.css.map */
