@import "colors"; 

.button{
    width: 200px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background-color: $color--link;
    color: $color--white;
    border-radius: 15px;
    font-size: 25px;
    text-decoration: none;
}

.button:hover{
    background-color: $color--white;
    color:  $color--link;
    border: 2px solid $color--link;
    cursor: pointer;
}

.button--link{
    color: $color--secondary;
    font-size: 18px;
    background-color:rgba(201, 76, 76, 0.0); 
    border-radius: none;
    text-decoration: underline;
}

.button--link:hover{
    color: $color--background;
    background-color:rgba(201, 76, 76, 0.0); 
    border: none;
    cursor: pointer;
}

.button--primary{
    background-color: $color--secondary;
    color: $color--link;
    font-size: 25px;
    border-radius: 15px;
}

.button--primary:hover{
    background-color: $color--link;
    color: $color--secondary;
    cursor: pointer;
}
 
.button--large{
    margin: auto;
    width: 250px;
    height: 70px;
    font-size: 36px;
    margin-top: -10px;
}

.button--secondary{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media(min-width: 1080px){
    .button--large{
        display: none;
    }

    .button--secondary{
        display: none;
    }
}