@import "colors"; 

.button{
    width: 200px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.button--submit{
    background-color: $color--link;
    color: $color--white;
    border-radius: 15px;
    font-size: 25px;
    text-decoration: none;
}

.button--submit:hover{
    background-color: $color--white;
    color:  $color--link;
    border: 2px solid $color--link;
}

.button--other{
    color: $color--secondary;
    font-size: 18px;
}

.button--other:hover{
    color: $color--background;
}

.button--sendcoins{
    background-color: $color--secondary;
    color: $color--link;
    font-size: 25px;
    border-radius: 15px;
}

.button--sendcoins:hover{
    background-color: $color--link;
    color: $color--secondary;
    border: 2px solid $color--secondary;
}

.button--large{
    margin: auto;
    width: 250px;
    height: 70px;
    font-size: 36px;
    margin-top: 10px;
}

.button--translist{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}