*{
    font-family: 'Lato', sans-serif; 
}

.custom-checkbox{
    width: fit-content;
    align-self: center;
    margin-left: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox__input{
    -webkit-appearance: none;
    appearance: none;
    background: url("../assets/check-circle-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -40px;
    background-size: contain;
    width: 32px;
    height: 32px;
    filter: grayscale(1);
    transition: all 0.6s;
    cursor: pointer;
}

.custom-checkbox__input:checked{
    filter: grayscale(0);
    transform: rotate(360deg);
}

.custom-checkbox__label{
    margin-left: 10px;
    text-align: center;
}

.custom-checkbox__label--error{
    color: $color--secondary;
}