.custom-dropdown{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #8478F5;
    color: white;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;      
    appearance: none;
}

.custom-dropdown__container{
    width: 80%;
    position: relative;
}

.custom-dropdown__arrow{
    position: absolute;
    width: 20%;
    height: 100%;
    display: block;
    background: url("../assets/chevron-down-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    top: 0;
    right: 0;
    pointer-events: none;
}


.custom-dropdown *{
    background-color: #b0a7ff;
    color: #3A0CA3;
}