.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form--small{
    grid-row: 5 / span 7;
}

.form--medium{
    grid-row: 5 / span 8;
}

.form--large{
    grid-row: 3 / span 9;
}

.form::placeholder{
    opacity: 1;
    color: var(--color--primary);
}

.form__input{
    width: 80%;
    height: 50px;
    border: none;
    background-color: var(--color--background);
    color: var(--color--primary);
    text-align: center;
    font-size: 25px;
}

.form__input__number{
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

.form__textarea{
    box-sizing: border-box;
    color: var(--color--primary);
    background-color: var(--color--background);
    border: none;
    resize: none;
    text-align: center;
    font-size: 25px;
    width: 80%;
    height: 145px;
    padding-bottom: 0;
    cursor: pointer;
}