.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form--medium{
    grid-row: 5 / span 8;
}

.form::placeholder{
    opacity: 1;
    color: white;
}

.form__input{
    width: 80%;
    height: 50px;
    border: none;
    background-color: var(--color--background);
    color: white;
    text-align: center;
    font-size: 25px;
}