:root{
    --color--primary: #e7e7e7;
    --color--secondary: #FF7446;
    --color--background: #8478F5;
}

// .list__container{
//     background-color: var(--color--background);
//     height: 105%;
//     width: 90%;
//     margin-left: auto;
//     margin-right: auto;
// }

.list{
    background-color: var(--color--background);
    height: 105%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.list--standard{
    grid-row: 6/ span 6;
}

.list--large{
    grid-row: 3/ span 9;
}

.list__item{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--color--primary);
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    justify-content: space-between;
}

.list__hr{
    width: 90%;
    border-width: 2px;
    color: var(--color--primary);
    border-color: var(--color--primary);
}

.list__item--amount{
    width: 20%;
}

.list__item--amount--sent{
    width: 20%;
    color: var(--color--secondary);
}

.list__item--from-to{
    width: 30%;
}

.list__item--date{
    width: 35%;
}

.list__item--message{
    color: var(--color--secondary);
    width: 15%;
    padding-left: 5%;
}