.list{
    background-color: var(--color--background);
    height: 105%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.list--standard{
    grid-row: 6/ span 6;
}

.list--large{
    grid-row: 3/ span 9;
}

.list__item{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--color--primary);
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    justify-content: space-between;
}

.list__hr{
    width: 90%;
    border-width: 2px;
    color: var(--color--primary);
    border-color: var(--color--primary);
}

.list__item--amount{
    width: 20%;
    padding-left: 10px;
}

.list__item--amount--sent{
    width: 20%;
    padding-left: 10px;
    color: var(--color--secondary);
}

.list__item--from-to{
    width: 70%;
    text-align: center;
}

.list__item--message{
    color: var(--color--secondary);
    width: 10%;
    padding-left: 5%;
}