@import "colors"; 

.list{
    background-color: $color--background;
    height: 105%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list--standard{
    grid-row: 6/ span 6;
}

.list--large {
    grid-row: 3/ span 9;
}

.list--large::-webkit-scrollbar{
    display: none;
}

.list__item{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: $color--primary;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    justify-content: space-between;
    cursor: pointer;
}

.list__hr{
    width: 90%;
    border-width: 2px;
    color: $color--primary;
    border-color: $color--primary;
}

.list__item--ranking{
    width: 20%;
    padding-left: 10px;
}

.list__item--amount{
    width: 20%;
    padding-left: 10px;
}

.list__item--amount--sent{
    width: 20%;
    padding-left: 10px;
    color: $color--secondary;
}

.list__item--from-to{
    width: 70%;
    text-align: center;
}

.list__item--message{
    color: $color--secondary;
    width: 10%;
    padding-left: 5%;
}

.recipientList{
    background-color: #b0a7ff;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    top: 195px;
    width: calc(400px *0.8);
    height: fit-content;
    display: flex;
    flex-direction: column;
}
  
.recipientList__item{
    width: 100%;
    height: 32px;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 1080px){
    .list{
        width: 100%;
        height: 100%;
        grid-column: 7 / span 4;
        grid-row: 4 / span 6;
    }

    .list__item--amount, .list__item--amount--sent{
        padding-left: 20px;
    }

    .recipientList{
        top: calc((100vh / 12)*4 - 15px);
        width: calc((100vw / 12)*2.4 + 2px);
        grid-row: 5 / span 1;
    }
}