.logo--large{
    grid-row: 1 / span 4;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo__vector--small{
    width: 15%;
    margin-top: 10px;
    margin-left: 10px;
}

.logo__vector--large{
    width: 35%;
}

.logo__vector--medium{
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}

@media (min-width: 1080px){
    .logo{
        position: absolute;
        left: 20px;
        width: 20%;
    }
}