@import "colors"; 

.nav{
    background-color: $color--link;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 12 /span 1;
}

.nav__icon{
    color: $color--secondary;
    margin: auto;
}

.nav__icon:hover{
    color: $color--white;
}

.nav__icon-secondary:hover{
    color: $color--red;
}

.translistgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}