@import "colors"; 

.nav{
    background-color: $color--link;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around; 
    // align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row: 12 /span 1;
}

.nav__icon{
    color: $color--secondary;
    margin: auto;
}